<h1>Anime</h1>

<div id="listOfAnime">
{{#each anime}}
<a href="/anime/{{this.id}}">
<div class="eachAnime centerContent">
<img src="{{this.attributes.posterImage.original}}" alt="anime-poster"/>
<h2>{{this.attributes.titles.en}} </h2>
<h4>Age Rating: {{this.attributes.ageRating}} </h4>
</div>
</a>
{{/each}}
</div>