<h1>Anime</h1>

<div id="listOfAnime">
{{#each anime}}
<a href="/anime/{{this.id}}">
<div class="eachAnime centerContent">
<img src="{{this.attributes.posterImage.original}}" alt="anime-poster"/>
<h5>{{this.attributes.titles.en}} </h5>
<h6>Age Rating: {{this.attributes.ageRating}} </h6>
</div>
</a>
{{/each}}
</div>